title: Machine Learning Glossary
email: j@jamesmishra.com
description: > # this means to ignore newlines until "baseurl:"
 This is an online glossary of terms for artificial intelligence,
 machine learning, computer vision, natural language processing,
 and statistics.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://machinelearning.wtf" # the base hostname & protocol for your site, e.g. http://example.com
github_baseurl: "https://github.com/machine-learning-glossary/glossary/edit/master/jekyll/content/"
small_page_size: 200 # Minimum amount of characters a completed page should have.
defaults:
  - scope:
      path: "terms"
    values:
      layout: page
pandoc:
  extensions:
    - normalize
    - smart
    - mathjax

permalink: pretty
# Build settings
markdown: Pandoc
#theme: minima
gems:
  - jekyll-last-modified-at
  - jekyll-sitemap
  - jekyll-pandoc
  - jekyll-algolia
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor
  - Dockerfile
  - build.sh
  - serve.sh

algolia:
  application_id: O2TYYMG19M
  index_name: mlg
  record_css_selector: "p,ul,ol,li,blockquote"
  excluded_files:
    - index.md
    - all.html
    - about.md
    - acronyms.html
    - meta/index.md
    - meta/needs_review.html
    - meta/no_references.html
    - meta/no_related_terms.html
    - meta/unfinished.html
