---
layout: page
title: "Meta: Unfinished Terms"
---
<p>
This page contains links to terms that have short amounts of content. They
should be expanded and turned into full-fledged glossary entries.
</p>
<table>
    <thead>
        <tr>
            <th>Page Title</th>
            <th>Character(s)</th>
            <th>Reference(s)</th>
        </tr>
    </thead>
    <tbody>
        {% assign pages = site.pages | where_exp:"item","item.url contains 'terms/'" | sort: 'title' %}
        {% for page in pages %}
            {% assign page_size = page.content | size %}
            {% if page_size < site.small_page_size and page.layout != redirect %}
                <tr>
                    <td><a href="{{ page.url }}">{{ page.title }}</a></td>
                    {% assign references = 0 %}
                    {% if page.references %}
                        {% assign references = page.references.size %}
                    {% endif %}
                    <td>{{ page.content | size }}</td>
                    <td>{{ references }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
