---
layout: page
title: "Meta: Unfinished Terms"
---
<p>
This page contains links to terms that have short amounts of content. They
should be expanded and turned into full-fledged glossary entries.
</p>
<table class="f6 w-100 mw8 center" cellspacing="0">
<thead>
<tr class="stripe-dark">
    <th class="fw6 tl pa3 bg-white">Page Title</th>
    <th class="fw6 tl pa3 bg-white">Character(s)</th>
    <th class="fw6 tl pa3 bg-white">Reference(s)</th></tr>
</thead>
<tbody>
{% assign pages = site.pages | where_exp:"item","item.url contains 'terms/'" | sort: 'title' %}
{% for page in pages %}
    {% assign page_size = page.content | size %}
    {% if page_size < site.small_page_size %}
<tr class="stripe-dark">
    <td class="fw6 tl pa3 bg-white"><a class="link" href="{{ page.url }}">{{ page.title }}</a></td>
{% assign references = 0 %}
{% if page.references %}
    {% assign references = page.references.size %}
{% endif %}
<td class="fw6 tl pa3 bg-white">{{ page.content | size }}</td>
<td class="fw6 tl pa3 bg-white">{{ references }}</td>
</tr>
    {% endif %}
{% endfor %}
</tbody>
</table>