{% capture issue_title %}Improvement for {{ page.path }}{% endcapture %}
{% capture issue_body %}# Referencing file [{{ page.path}}]({{ site.github_baseurl}}{{ page.path }})

(Describe your issue here)

{% endcapture %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
        <link rel="stylesheet" href="/css/customstyle.css"/>
        <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
    </head>
    <body>
<header class="bg-black-90 w-100 ph3 pv3 pv4-ns ph4-m ph5-l no-print">
  <nav class="f6 fw6 ttu tracked no-print">
    <a class="link dim white dib mr3" href="/" title="Home">Home</a>
    <a class="link dim white dib mr3" href="/about/" title="About">About</a>
    <a class="link dim white dib mr3" href="/meta/" title="Meta">Meta</a>
    <a class="link dim white dib mr3" href="/all/" title="All Terms">All</a>
    <a class="link dim white dib" href="https://github.com/machine-learning-glossary/glossary" title="Github">Github</a>
  </nav>
<div id="searchcontainer"> </div>
</header>
  {% if page.content.size < site.small_page_size and page.url contains 'terms/' %}
    {% include banners/incomplete_term.html %}
  {% elsif page.needs_review %}
    {% include banners/needs_review.html %}
  {% else %}
    {% include banners/default.html %}
  {% endif %}