{% capture issue_title %}Improvement for {{ page.path }}{% endcapture %}
{% capture issue_body %}# Referencing file [{{ page.path}}]({{ site.github_baseurl}}{{ page.path }})

(Describe your issue here)

{% endcapture %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="/css/customstyle.css"/>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

        <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
    </head>
    <body>
<header id="mainheader" class="no-print">
  <nav class="no-print">
    <a href="/" title="Home">Home</a>
    <a href="/about/" title="About">About</a>
    <a href="/meta/" title="Meta">Meta Pages</a>
    <a href="/all/" title="All Terms">All Terms</a>
    <a href="https://github.com/machine-learning-glossary/glossary" title="GitHub">Edit on GitHub</a>
  </nav>
<div id="searchcontainer"> </div>
</header>
  {% if page.content.size < site.small_page_size and page.url contains 'terms/' %}
    {% include banners/incomplete_term.html %}
  {% elsif page.needs_review %}
    {% include banners/needs_review.html %}
  {% else %}
    {% include banners/default.html %}
  {% endif %}
