{% assign page_filename = include.page.path | split: "/" | last | split: "." | first %}
{% capture outbound_link_term_urls_str %}{% for term in page.related_terms %}/terms/{{term}}/<br>{% endfor %}
{% endcapture %}
{% assign outbound_link_term_urls = outbound_link_term_urls_str | split: "<br>" %}
{% assign outbound_links = site.pages | where_exp:"item","outbound_link_term_urls contains item.url" %}
{% assign inbound_links = site.pages | where_exp:"item","item.related_terms contains page_filename" %}
{% assign display_the_terms = false %}
{% capture term_list %}
{% for term in inbound_links %}
    {% unless outbound_link_term_urls contains term.url %}
        {% assign display_the_terms = true %}
        {% if include.local %}
            {% assign slug = term.url | split: "/" | last %}
            {% assign url = "#" | append: slug | append: '/' %}
        {% else %}
            {% assign url = term.url %}
        {% endif %}
        <li><a href="{{ url }}">{{ term.title }}</a></li>
    {% endunless %}
{% endfor %}
{% for term in outbound_links %}
    {% assign display_the_terms = true %}
        {% if include.local %}
            {% assign slug = term.url | split: "/" | last %}
            {% assign url = "#" | append: slug %}
        {% else %}
            {% assign url = term.url %}
        {% endif %}
    <li><a href="{{ url }}">{{ term.title }}</a></li>
{% endfor %}
{% endcapture %}
{% if display_the_terms %}
<h2>Related Terms</h2>
<ul>
    {{ term_list }}
</ul>
{% endif %}