# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Machine Learning Glossary
email: j@jamesmishra.com
description: > # this means to ignore newlines until "baseurl:"
 This is an online glossary of terms for artificial intelligence,
 machine learning, computer vision, natural language processing,
 and statistics.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
github_baseurl: "https://github.com/machine-learning-glossary/glossary/edit/master/jekyll/content/"
small_page_size: 200 # Minimum amount of characters a completed page should have.
defaults:
  - scope:
      path: "terms"
    values:
      layout: page
pandoc:
  extensions:
    - normalize
    - smart
    - mathjax

permalink: pretty
# Build settings
markdown: Pandoc
#theme: minima
gems:
  - jekyll-feed
  - jekyll-pandoc
exclude:
  - Gemfile
  - Gemfile.lock
