---
layout: compress
---
{% include header.html %}
{% assign pages = site.pages | where_exp:"item","item.url contains 'terms/'" | sort_natural: 'title' %}
{% capture term_list %}
{% for page in pages %}
    {% assign page_size = page.content | size %}
    {% if page.title and page_size > site.small_page_size %}
    {% capture devnull %}{% increment filled_pages %}{% endcapture %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
{% endcapture %}
<article class="pa3 pa5-ns center mw9 mw9-ns">
  <h1 class="f3 f1-m f-headline-l">{{ site.title }}</h1>
  <p>
    {{ site.description }}
  </p>
  <h2>Useful Links</h2>
  <ul>
    <li><a href="/math-notation/">Mathematical Notation and Definitions</a></li>
    <li><a href="/acronyms/">List of Acronyms</a></li>
  </ul>
    <h2>Terms</h2>
    <p>{{ filled_pages }} terms defined below, and <a href="/meta/unfinished/">{{ pages.size | minus: filled_pages }} undefined terms</a>.</p>
  <ul>
    {{ term_list }}
  </ul>
</article>
{% include footer.html %}