---
layout: compress
---
{% include header.html %}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% assign pages = site.pages | where_exp:"item","item.url contains 'terms/'" | sort_natural: 'title' %}
{% capture term_list %}
{% for page in pages %}
    {% assign page_size = page.content | size %}
    {% if page.title and page_size > site.small_page_size %}
    {% capture devnull %}{% increment filled_pages %}{% endcapture %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
{% endcapture %}
<div id="main">
  <div id="hitscontainercontainer">
    <h1>Search Results</h1>
    <div id="hitscontainer">
    </div>
  </div>
  <h1>{{ site.title }}</h1>
  <div id="article-container">
    <article>
      <p>
        {{ site.description }}
      </p>
      <h2>Useful Links</h2>
      <ul>
        <li><a href="/math-notation/">Mathematical Notation and Definitions</a></li>
        <li><a href="/acronyms/">List of Acronyms</a></li>
      </ul>
      <h2>Terms</h2>
      <p>{{ filled_pages }} terms defined below, and <a href="/meta/unfinished/">{{       pages.size | minus: filled_pages }} undefined terms</a>.</p>
      <ul>
        {{ term_list }}
      </ul>
    </article>
  </div>
</div>
<script type="text/javascript">
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", function (user) {
      if (!user) {
        window.netlifyIdentity.on("login",
          function () { document.location.href = "/admin/"; });
      }
    });
  }
</script>
{% include footer.html %}