---
layout: compress
---
{% include header.html %}
<article class="pa3 pa5-ns center mw9 mw9-ns">
  <div id="hitscontainercontainer">
    <h1>Search Results</h1>
    <div id="hitscontainer">
    </div>
  </div>
  <h1 class="f3 f2-m f1-l">{{ page.title }}</h1>
  {% if page.toc %}
    {{ content | toc }}
  {% else %}
    {{ content }}
  {% endif %}
  {% include synonyms.html page=page %}
  {% include related_terms.html page=page %}
  {% include references.html page=page %}
</article>
{% include footer.html %}