---
title: Face verification
related_terms:
 - face-recognition
 - face-detection
references:
 - link_title: What is face recognition? - Convolutional Neural Networks - deeplearning.ai
   link_url: https://www.coursera.org/learn/convolutional-neural-networks/lecture/lUBYU/what-is-face-recognition
---
*Face verification* is the problem of identifying
whether an image belongs to a person--given
the one image and one person as the input.

Face verification is an easier problem than
[face recognition][1] because face verification only compares
a single image to one person, whereas face recognition does this
for $k$ people.

[1]: /terms/face-recognition/